
  <h1> Westminster Library Manager</h1>
  <button type="button" class="btn btn-secondary" id="logout" (click)="logoutclick()">Logout</button>
  


<div class="btn-group" role="group" aria-label="menu buttons">
  <button type="button" class="btn btn-secondary" (click)="addbookclick()">Add Book</button>
  <button type="button" class="btn btn-secondary" (click)="adddvdclick()">Add DVD</button>
  <button type="button" class="btn btn-secondary" (click)="manageitem()">Manage Item</button>
  <button type="button" class="btn btn-secondary" (click)="reportclick()">Report Generation</button>
  
 
  <!-- {{this. getVal()}} -->
</div>
<!-- 
<div *ngFor="let post of posts | async">
  {{post | json}}
</div> -->






