
<div class="container">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <h1> Westminster Library Manager</h1>
   <button  class="btn" id="logout" (click)="logoutclick()"><i class="fa fa-close"></i> Logout</button> 
   <!-- type refers to the button, class is the bootstrap class, id to to call the method for routing, (click) for routing -->
   <button class="btn" id="menu" (click)="menuclick()"><i class="fa fa-home"></i> Menu</button>


<div class="box">
    <h2>Add DVD</h2>
    <form>
        <div class="inputBox">
            <input type="text" name="" required="">
            <label>Name</label>
        </div>
        <div class="inputBox">
            <input type="password" name="" required="">
            <label>password</label>
        </div>
        <input type="submit" name="" value="submit">
    </form>
</div>

</div>






   

